html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

.offer
/* Navigation Bar */
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: #555;
}

/* Semua Elemend */
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

/* Workout Style*/
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Gambar dan tulisan */
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1{
   font-size: 50px;
   line-height: 60px;
   margin:25px 0;
}

.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 10px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition:0.5s;
}

.btn:hover{
    background: #563434;
}
/* Header */
.header{
    background: radial-gradient(#fff, #ffd6d6);
}

.header .row{
    margin-top: 70px;
}


/* Produk Unggulan */
.produk{
    margin: 70px 0;
}


/* Produk */
.col-3{
    flex-basis: 30%;
    min-width: 200px;
    margin-top: 30px;
}

.col-3 img{
    width: 100%;
}

.small-container{
    max-width: 1080px;
    text-align: center;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4{
    flex-basis: 25px;
    padding: 5px;
    min-width: 300px;
    margin-bottom: 100px;
    transition: transform 0.5s;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

/* Animasi Produk */
.title:after {
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); 
}

h4{
    color: #555;
    font-weight: normal;
}

.col-4 p{
    font-size: 14px;
}

.rating .fa{
    color: red;
}

.col-4:hover{
    transform: translateY(-20px); 
}



/* Unggulan produk */

.offer{
    background: radial-gradient(#fff, #ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}

.col-2 .offer img{
    padding: 100px;
}

small{
    color: #555;
}



/* Testimoni */
.testimoni{
    padding-top: 100px;
}

.testimoni .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}

.testimoni .col-3 img{
    width: 100px;
    margin: 20px;
    border-radius: 50%;
}

.testimoni .col-3:hover{
    transform: translateY(-20px);
}

.fa.fa-quote-left{
    font-size: 30px;
}

.col-3 p{
    font-size: 12px;
    margin: 12px 0;
}

.testimoni .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 15px;
}

/* MEREK */
.brands{
    margin: 100px auto;
}

.brands h2{
    text-align: center;
}
.col-5 img{
    cursor: pointer;
    filter: grayscale(100%);
}

.col-5 img:hover{
    filter: grayscale(0%);
}

.menu-icon{
    width: 30px;
    margin-left: 25px;
    display: none;
}

/* Toggle Produk */
.row-2{
    justify-content: space-between;
    margin: 10px auto 50px;
}

select{
    border: 1px solid #ff523b;
    padding: 5px;
}

select:focus{
    outline: none;
}

.page-btn span{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background: aqua;
}

/* media untuk menu */

@media only screen and (max-width : 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}

/* media untuk ukuran layar kurang dari 600 */

@media only screen and (max-width: 800px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
}

/* LOGIN */

