*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: #716F81;
    font-family: 'montserrat', sans-serif;
    text-align: center;
    color: #ffff;
}


/* Home */

.nav{
    display: flex;
    letter-spacing: 1px;
    justify-content: end;
    padding: 10px;
    background-color: grey;
    font-size: 0.7em;
}
a:hover{
    background-color: rgb(167, 165, 165);
    color: #000;
    font-weight: bold;
}
a{
    text-decoration: none;
    margin-top: 5px;
    margin-left: 20px;
    font-family: cursive;
    color: #fff;
}
h1{
    white-space: 3px;
    padding: 1%;
    font-family: serif;
    font-size: 38px;
    color: #000;
}
h2{
    font-size: 30px;
    margin-top: 20%;
    font-family: 'pacifico', cursive;
}
table{
    width: 100%;
}
table tr th{
    font-family: 'mirador';
    font-size: 21px;
    letter-spacing: 1px;
    color: #fff;
    
}
table ul li{
    list-style: none;
}
table tr td {
    color: #000;
    font-size: 14px;
}
table tr td:hover{
    background-color: #fff;
    color: #000;
    font-size: 15px;
    font-weight: bold;
}
table tr th:hover{
    background-color: #fff;
    color: #000;
    font-size: 22px;
}
img{
    text-align: center;
    width: 10%;
    height: 20vh;
    border-radius: 50%;
    margin-top: 10%;
}
.copyright{
    font-family: arial;
    margin-bottom: 5px;
    font-size: 13px;
    color: #ffff;
    font-weight: bold;
}
.tag{
    color: #fff;
    font-family: verdana;
    padding: 1%;
    margin: 0%;
}


/* Contact Me */

form{
    font-family: 'montserrat', sans-serif;
    font-size: 20px;
    margin-top: 4.5%;
}


/* AboutMe */


video{
    border: 3px solid #fff;
}

.head{
    font-family: arial;
}
.deskripsi{
    font-family: monospace;
    font-size: 15px;
    margin-bottom: 30px;
}

/* Responsive Breakpoint */

/* ukuran tablet */
@media screen and (max-width: 765px) {
    img{
        width: 150px;
        height: 33vh;
        margin-top: 25%;
    }
}

/* ukuran mobile */
@media screen and (max-width: 576px) {
    img{
        width: 45%;
        height: 18vh;
        margin-top: 20%;
    }
    h1{
        font-size: 30px;
        margin-top: 30px;
    }
    
    h2{
        font-size: 20px;
        margin-top: 30%;
    }
    
    .deskripsi{
        font-size: px;
    }
}